.shopPageContainer {
  padding: 20px;
}

.shopItemsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 400px;
  gap: 10px;
  margin-top: 50px;
}

.shopHeaderContent {
  composes: shopHeaderBackground from "./colors.module.css";
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11);
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 350px;
  flex: 1;
}

.searchInput {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  flex: 1;
}

.searchInput:focus {
  outline: 2px solid #3b82f6;
}
.loadingIndicator {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .shopHeaderContent {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
